.contact-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Source Code Pro", monospace;
}
.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
input,
textarea {
  color: black;
  width: 400px;
  padding: 10px;
  font-size: 1.3em;
}
input::placeholder,
textarea::placeholder {
  padding: 3px;
}

.contact-form label p {
  margin-bottom: 10px;
  font-size: 18px;
}

.email-add {
  font-size: 25px;
}
.form-btn {
  background-color: rgb(253 204 73);
  padding: 10px 0;
  font-size: 1.5em;
}
.form-btn:hover {
  background-color: rgb(44 188 233);
}
.footer {
  margin: 60px 0 30px 0;
}

@media (max-width: 750px) {
  .contact-content {
    flex-direction: column;
  }
  .email-add {
    font-size: 25px;
    margin-top: 80px;
  }
  input,
  textarea {
    color: black;
    width: 80vw;
    padding: 10px;
    font-size: 1.3em;
  }
}
