@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.project-main {
  justify-content: center;
  align-items: center;
  padding: 80px 0 80px 0;
  height: auto;
}
.projects {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 0;
  justify-content: center;
  align-items: center;
}
.image-container {
  position: relative;
  display: inline-block;
  color: black;
}
.askformore,
.image-container img {
  /* width: calc(100vh); */
  width: calc(100vw / 4.3);
  height: calc(100vw / 4.3);
  object-fit: cover;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw / 4.3);
  height: calc(100vw / 4.3);
  opacity: 0;
  background-color: white;
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px 0;
  line-height: 1.4;
}

.text-overlay p {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
  margin-top: 1vw;
  font-size: 1vw;
}
.project-heading {
  font-weight: bolder;
  font-size: 1vw;

  /* margin-bottom: 1vw; */
}
.askformore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.askformore p {
  font-size: 2.5vw;
  color: white;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.image-container:hover img {
  opacity: 0;
}

@media (max-width: 1000px) {
  .projects {
    display: grid;
    grid-template-columns: auto auto;
  }
  .image-container img,
  .askformore {
    width: calc(100vw / 2.5);
    height: calc(100vw / 2.5);
  }
  .text-overlay {
    width: calc(100vw / 2.5);
    height: calc(100vw / 2.5);
  }
}
