.App {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}
.logo {
  font-size: 55px;
  position: absolute;
  text-align: start;
  left: 30px;
  top: 30px;
}
.page-viewer {
  position: fixed;
  top: calc(50% - 50px);
  right: 0;
}
.page-viewer div {
  height: 10px;
  width: 10px;
  background-color: grey;
  margin: 20px 10px 20px 0px;
  border-radius: 50%;
}
.page-viewer a {
  height: 20px;
  width: 20px;
}
.page-viewer .active {
  /* background-color: rgb(253 204 73);
  border: 1px solid rgb(253 204 73); */
  height: 20px;
  width: 20px;
  background-color: black;
  border-width: 10px;
  border-color: rgb(253 204 73);
  border-style: double;
  position: relative;
  left: -4px;
}
