.App {
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.logo {
  font-size: 55px;
  position: absolute;
  text-align: start;
  position: relative;
  left: 30px;
  top: 30px;
}
